/*=================================
COLOR
===================================*/
html {
    --color-pink: #dd9d9d;
    --color-pink-light: #ffcece;
    --color-brown: #4b110e;
    --color-brown-light: #7b3b34;
    --color-grey-dark: #3d3d3d;
    --color-grey-medium: #545454;
    --color-grey-light: #9e9e9a;
}
/*=================================
LAYOUT
===================================*/
body {
    margin: var(--margin-standard);
}
.look-feel-section {
    padding: 0;
    list-style-type: none;
}

html {
    --margin-standard: auto;
    --margin-special: 5rem 1rem 2.5rem;
    --margin-indented-1: 1.5rem 2rem;
    --margin-indented-2: 1.75rem 3rem;
    --margin-indented-3: 1.75rem 4rem;
}

h1 {
    margin: var(--margin-special);
}
h2 {
    margin: var(--margin-indented-1);
}

h3, h4, h5, h6 {
    margin: var(--margin-indented-2);
}

h4, h5, h6 {
    margin: var(--margin-indented-3);
}

main {
    max-width: 38rem;
    margin: auto;

}

/*=================================
TYPOGRAPHY
===================================*/
html {
    --size-eight: 2.395rem;
    --size-seven: 2.129rem;
    --size-six: 1.892rem;
    --size-five: 1.682rem;
    --size-four: 1.495rem;
    --size-three: 1.329rem;
    --size-body: 1.05rem;
    --size-one: .933rem;

}
h1 {
    font-size: var(--size-eight);
    line-height: 1;
}

h2 {
    font-size: var(--size-seven);
    line-height: 1;
}

h3 {
    font-size: var(--size-six);
}

h4 {
    font-size: var(--size-five);
}

h5 {
    font-size: var(--size-four);
}

h6 {
    font-size: var(--size-three);
}

html {
    --font-primary: 'Muli', 'Time New Roman', sans-serif;
    --font-secondary: 'Share', cursive, arial;
}

html {
    color: var(--color-grey-dark);
    font-family: var(--font-primary);
    font-size: 1.05rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-secondary);
}

a {
    color: var(--color-brown);

}

nav ul {
    list-style-type: none;
}

figure {
    display: inline;
}

.logo {
    font-size: 2.5rem;
    font-family: 'Pacifico', var(--font-secondary);
}

.secondary-font {
    font-family: var(--font-secondary);
    margin-top: 2rem;
}

a {
    text-decoration: none;
}

a:visited {
    color: var(--color-brown-light)
}

a:hover {
    text-decoration: underline;
}

a:focus {
    border: 1px solid var(--color-brown);
}

a:active {
    color: var(--color-grey-medium);
}

.link-visited {
    color: var(--color-brown-light);
}

.link-hover {
    color: var(--color-brown);
    text-decoration: underline;

}

.link-focus {
    color: var(--color-brown);
    border: 1px solid var(--color-brown);
    display: inline-block;
}

.link-active {
    color: var(--color-grey-medium);
}

.heading-link {
    color: var(--color-grey-dark);
    text-decoration: underline;
}

.heading-display {
    border: 1px solid var(--color-grey-light);
    padding: .5rem 1rem;
}

.featured-text-one {
    background-color: var(--color-pink-light);
    border-radius: .5rem;
    color: var(--color-brown);
    padding: 1rem;
    box-shadow: 1rem 1rem 2rem var(--color-pink);
}

.featured-text-two {
    border-radius: .5rem;
    box-shadow: .5rem .5rem .8rem var(--color-grey-light);
    color: var(--color-pink);
    padding: 1rem;
}

.tertiary-text {
    font-size: var(--size-one);
    font-style: italic;
}

.list-ordered {
    list-style-type: lower-roman;
}

.list-unordered {
    list-style-type: circle;
}

.heading-one {
    font-family: var(--font-secondary);
    font-size: var(--size-eight);
    font-weight: bold;
}
/*=================================
HEADER COMPONENTS
===================================*/

header {
    background-color: var(--color-pink);
    padding: 2rem;

}

header li {
    font-size: 1.1rem;
}

header a {
    text-decoration: none;
}

/*=================================
FOOTER
===================================*/
footer {
    background-color: var(--color-pink-light);
    padding: 2rem;
}


