/*=================================
COLOR
===================================*/
html {
    --color-pink: #dd9d9d;
    --color-pink-light: #ffcece;
    --color-brown: #4b110e;
    --color-brown-light: #7b3b34;
    --color-grey-dark: #3d3d3d;
    --color-grey-medium: #545454;
    --color-grey-light: #9e9e9a;
}
html {
    background-color: #F8F5F0;
}
/*=================================
LAYOUT
===================================*/
body {
    margin: var(--margin-standard);
}
.look-feel-section {
    padding: 0;
    list-style-type: none;
}

main {
    max-width: 38rem;
    margin: auto;
}
 figure {
     max-width: 38rem;
 }

.main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.main-index p, .main-index ul {
    margin: 1rem;
}

.main-index h1 {
    text-align: center;
}

/*=================================
TYPOGRAPHY
===================================*/
html {
    --size-eight: 2.395rem;
    --size-seven: 2.129rem;
    --size-six: 1.892rem;
    --size-five: 1.682rem;
    --size-four: 1.495rem;
    --size-three: 1.329rem;
    --size-body: 1.05rem;
    --size-one: .933rem;
    --size-zero: .5rem;

}

html {
    --margin-standard: auto;
    --margin-special: 5rem 1rem 2.5rem;
    --margin-indented-1: 4rem 2rem;
    --margin-indented-2: 3rem 2rem 1.75rem 3rem;
    --margin-indented-3: 3rem 2rem 1.75rem 4rem;
}

h1 {
    margin: var(--margin-special);
}
h2 {
    margin: var(--margin-indented-1);
    border-bottom: 1px solid var(--color-grey-light);
}

h3, h4, h5, h6 {
    margin: var(--margin-indented-2);
}

h4, h5, h6 {
    margin: var(--margin-indented-3);
}

html {
    color: var(--color-grey-dark);
    font-family: var(--font-primary);
    font-size: var(--size-four);
    --font-primary: 'Muli', 'Time New Roman', sans-serif;
    --font-secondary: 'Share', cursive, arial;
}

html {
    color: var(--color-grey-dark);
    font-family: var(--font-primary);
    font-size: var(--size-body);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-secondary);
}

header a, footer a {
    color: var(--color-brown);

}

nav ul {
    list-style-type: none;
}

figure {
    display: block;
}

.logo {
    font-size: var(--size-eight);
    font-family: var(--font-secondary);
}

a {
    text-decoration: none;
}

nav a:hover {
    color: var(--color-pink-light);
}

a:focus {
    border: 1px solid var(--color-brown);
    outline: none;
}

a:active {
    color: var(--color-grey-medium);
}

.featured-text-primary {
    background-color: var(--color-pink-light);
    border-radius: .5rem;
    color: var(--color-brown);
    padding: 1rem;
    box-shadow: 1rem 1rem 2rem var(--color-pink);
    max-width: 30rem;
}

.featured-text-secondary {
    border-radius: .5rem;
    box-shadow: .5rem .5rem .8rem var(--color-grey-light);
    color: var(--color-brown-light);
    padding: 1rem;
    max-width: 30rem;
}

.tertiary-text {
    font-size: var(--size-one);
    font-style: italic;
}

ol {
    list-style-type: lower-roman;
}

ul {
    list-style-type: circle;
}

.heading-one {
    font-family: var(--font-secondary);
    font-size: var(--size-eight);
    font-weight: bold;
}

.color-swatch {
    border-radius: 10rem;
}

blockquote {
    border-left: 3px solid var(--color-brown-light);
    padding-left: 2rem;
}

cite {
    color: var(--color-brown-light);
}
/*=================================
EXAMPLES
===================================*/

.secondary-font {
    font-family: var(--font-secondary);
    margin-top: 2rem;
}

.link-visited {
    color: var(--color-brown-light);
}

.link-hover {
    color: var(--color-pink-light);

}

.link-focus {
    color: var(--color-brown);
    border: 1px solid var(--color-brown);
    display: inline-block;
    outline: none;
}

.link-active {
    color: var(--color-grey-medium);
}

.heading-link {
    color: var(--color-grey-dark);
    text-decoration: underline;
}

.figure-border {
    border: 1px solid var(--color-grey-light);
    padding: .5rem 1rem;
}

figcaption {
    margin-top: .5rem;
}

.secondary-nav, .secondary-nav ul li {
    list-style-type: none;
    color: var(--color-pink-light);

}
.secondary-nav {
    background-color: var(--color-brown-light);
    padding: 1rem;
}

.secondary-nav li {
    margin: .35rem;
}

/*=================================
LINK BUTTON
===================================*/

.link-button-primary {
    background-color: var(--color-pink);
    border-radius: 1.5rem;
    box-shadow: .25rem .25rem .5rem var(--color-pink-light);
    color: var(--color-brown);
    display: inline-block;
    padding: 1rem 2rem;

}

.link-button-primary:hover {
    text-decoration: none;
    background-color: var(--color-pink-light);
}

.link-button-primary:focus {
    border: 2px solid var(--color-brown);
}

.link-button-primary:active {
    background-color: whitesmoke;

}

.link-button-secondary {
    border: 2px solid var(--color-pink-light);
    border-radius: 1.5rem;
    box-shadow: .25rem .25rem .5rem var(--color-grey-light);
    color: var(--color-pink);
    display: inline-block;
    padding: 1rem 2rem;

}
.link-button-secondary:hover {
    text-decoration: none;
    border: 4px solid var(--color-pink-light)
}

.link-button-secondary:focus {
    border: 2px solid var(--color-brown);
}

.link-button-secondary:active{
    border: 4px solid var(--color-grey-light);
}

.link-button-tertiary {
    border: 2px solid var(--color-grey-light);
    border-radius: 1.5rem;
    color: var(--color-grey-medium);
    display: inline-block;
    padding: 1rem 2rem;
    text-decoration: none;

}

.link-button-tertiary:hover {
    border: 3px solid var(--color-grey-medium);
}

.link-button-tertiary:focus {
    border: 2px solid var(--color-brown);
}

.link-button-tertiary:active {
    border: 3px solid var(--color-grey-medium);
    font-weight: bold;
}

/*=================================
ACCORDION
===================================*/
details {

    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
    border-radius: 8px;
    margin-bottom: 1.5rem;
    width: 75%;
}

details div {
    border: 2px solid var(--color-pink-light);
    padding: 1rem;
    margin: 0;
}

summary {
    background-color: var(--color-pink);
    padding: 1rem;
    outline: none;
}

summary::-webkit-details-marker {
    background: url(images/right-arrow.svg);
    background-position: right;
    color: transparent;
}

select {
    background-image: url(images/scroll.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 25px;
}

summary:focus {
    border: 1.5px solid var(--color-pink-light);
}

/*=================================
DIALOG COMPONENT
===================================*/

dialog {
    animation:unfoldIn .75s;
    background-color: #F8F5F0;
    border: 1px solid var(--color-pink-light);
    box-shadow: .25rem .25rem 1rem rgba( 0,0,0, .4);
    border-radius: .5rem;
    max-width: 350px;
    margin-top: 0;
}

@keyframes unfoldIn {

    0% {
        opacity: 0;
        transform: translateY(-5rem) scale(.3);
    }

    60% {
        transform: translateY(1.5rem) scale(1.1);
    }

    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }

}
dialog::backdrop {
    background-color: rgb(158, 158, 154);
    opacity: .3;
}


dialog h1 {
    font-size: var(--size-six);
    margin-top: .75rem;
    margin-bottom: .75rem;
    text-align: center;
}

/*=================================
FORM INPUT
===================================*/

textarea:focus, input:focus, select:focus {
    border: 1.5px solid var(--color-brown-light);
}

label, input, select, textarea {
    display: block;
}

[type="text"], [type="email"], [type="password"], textarea, select {
    border: 1px solid var(--color-grey-light);
    padding: .75rem;
    max-width: 20rem;
    width: 100%;
}

select {
    -webkit-appearance: none;
    outline: none;
}

textarea {
    min-height: 6rem;
    outline: none;
}
.error-text {
    color: red;
    font-size: .75rem;
    margin-top: 0;
}
.error-input {
    border: 1px solid red;
}
#disabled, #disabled-message {
    background-color: lightgray;

}
[type="submit"], button {
    background-color: var(--color-pink);
    border-radius: 1.5rem;
    color: var(--color-brown);
    border: none;
    padding: 1rem 2rem;
}

[type="submit"]:hover, [type="submit"]:focus, button:hover, button:focus {
    background-color: var(--color-pink-light);
    outline: none;
}

[type="submit"]:active, button:active  {
    background-color: var(--color-grey-light);
}
/*=================================
HEADER COMPONENTS
===================================*/

header {
    background-color: var(--color-pink);
    padding: 1rem;
    text-align: center;

}

header li {
    font-size: 1rem;
}

header a {
    text-decoration: none;
}

header ul {
    padding-left: 0;
}

/*=================================
FOOTER
===================================*/
footer {
    background-color: var(--color-pink-light);
    padding: 2rem;
}

.footer-margin {
    margin-top: 8rem;
}

footer a:hover {
    color: var(--color-brown-light);
    text-decoration: underline;
}

/*=================================
MEDIA QUERIE
===================================*/

@media (min-width: 350px) {
    html {
        font-size: 1rem;
    }

    h1 {
        font-size: var(--size-six);
        line-height: 1;
    }

    h2 {
        font-size: var(--size-five);
        line-height: 1;
    }

    h3 {
        font-size: var(--size-four);
    }

    h4 {
        font-size: var(--size-three);
    }

    h5, h6 {
        font-size: var(--size-two);
    }

    header li {
        margin-bottom: .5rem;
    }
}

@media (min-width: 650px) {

    h1 {
        font-size: var(--size-eight);
        line-height: 1;
    }

    h2 {
        font-size: var(--size-seven);
        line-height: 1;
    }

    h3 {
        font-size: var(--size-six);
    }

    h4 {
        font-size: var(--size-five);
    }

    h5 {
        font-size: var(--size-four);
    }

    h6 {
        font-size: var(--size-three);
    }

    header {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    header li {
        border-bottom: none;
        display: inline;
        font-size: 1.1rem;
        padding-left: 1rem;


    }

    .current-page {
        position: relative;
    }

    .current-page:before {
        content: '';
        background-image: url(images/cupcake.svg);
        background-size: 20px;
        background-repeat: no-repeat;
        height: 1.3rem;
        position: absolute;
        top: -1.25rem;
        width: 1.25rem;
    }

}

/*=================================
SEARCH 
===================================*/

.search-input {
    border: 1.5px solid var(--color-pink-light);
    border-radius: .5rem;
    background-image: url("images/search-icon.png");
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 315px;
    background-size: 20px;
    outline: none;
}


li a.current-page {
    color: #F8F5F0;
}

/*=================================
NOTIFICATION
===================================*/

.error-notification {
    background-color: #d96262;
    display: flex;
    color: whitesmoke;
    justify-content: space-between;
    padding: .5rem 1rem;
}

.warning-notification {
    background-color: #f5c99a;
    display: flex;
    justify-content: space-between;
    padding: .5rem 1rem;
}

.success-notification {
    background-color: #D8EACC;
    display: flex;
    justify-content: space-between;
    padding: .5rem 1rem;
}

.neutral-notification {
    background-color: #C4DBF2;
    display: flex;
    justify-content: space-between;
    padding: .5rem 1rem;
}

.notification-icon {
    position: relative;
    top: 1rem;
    right: .5rem;

}
/*=================================
HERO BLOCK
===================================*/

.hero-block {
    background-image: url("images/hero-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 75vh;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.hero-block h1 {
    color: whitesmoke;
    text-transform: uppercase;
    text-shadow: 3px 3px 1px var(--color-brown-light);

}

.hero-block .featured-text-secondary {
    box-shadow: none;
    text-align: center;
    background-color: rgba(250,250,250,.75);
}

.hero-block .link-button-primary {
    box-shadow: none;
    text-transform: uppercase;
    font-weight: bold;
    margin: 2rem;
}

figure img {
    max-width: 100%;
}

/*=================================
CARDS
===================================*/

.article-card {
    border: 2px solid var(--color-pink);
    padding: 1rem;
    position: relative;
    max-width: 310px;
}

.article-date {
    background-color: var(--color-pink);
    display: inline-block;
    font-size: .75rem;
    padding: .5rem;
    position: absolute;
    left: 1rem;
    top: .25rem;
}
.article-card a {
    color: var(--color-grey-dark);
}

.article-card strong {
    font-size: var(--size-three);
    display: block;
    margin-top: 1rem;

}

.profile-card {
    border: 2px solid var(--color-pink);
    border-radius: 1rem;
    display: inline-block;
    padding: 1rem;
    text-align: center;
}

.profile-card a {
    color: var(--color-pink);
    text-decoration: underline;
}

.profile-card a:hover {
    color: var(--color-pink-light);
}

.profile-picture {
    height: 150px;
    width: 150px;
    display: block;
    margin: .5rem auto 1rem;
}

.action-card {
    background-image: url("images/donuts.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 15rem;
    padding: 3rem 2rem;
    color: var(--color-brown);
    border-radius: 2rem;
}


.action-card p {
    background-color: rgba(255,192,203,.5);
    border-radius: 2rem;
    padding: 1rem;

}

.card-grid .article-card {
    margin: auto;

}
.article-card img {
    max-width: 100%;
}

/*=================================
CARDS GRID
===================================*/

@media (min-width: 300px) {

    .card-grid {
        display: grid;
        grid-row-gap: 1rem;

    }
}

@media (min-width: 600px) {

    .card-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1rem;

    }

    .article-card {
        max-width: 400px;
    }

    .featured-card a {
        display: flex;
        align-items: center;
    }

    .featured-card {
        grid-column: span 2;
        max-width: none;
    }

    .featured-card img {
        max-width: 50%;
        max-height: 100%;
        margin-right: 1rem;
    }
}

@media (min-width: 900px) {

    .card-grid {
        grid-template-columns: 1fr 1fr 1fr;

    }

    .featured-card {
        grid-column: span 2;

    }

    .featured-card a {
        flex-direction: column;
        justify-content: center;
    }

    .featured-card img {
    max-width: 100%

    }

    .card-grid .article-card {
        margin: 1rem;
    }
}

.card-grid {

margin: auto;
max-width: 1000px;

}

/*=================================
CALLOUT GRID
===================================*/

.callout-grid {
margin: auto;
max-width: 1000px;
display: grid;
grid-row-gap: 1rem;

}

.callout-grid .action-card {
    margin: auto;
}

@media (min-width: 600px) {

    .callout-grid {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1rem;
        max-width: 35rem;
    }


    .callout-grid .action-card:first-child {
        grid-column: 2 span;
        max-width: 35rem;
    }
}

@media (min-width: 1100px) {

    .callout-grid {
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 60rem;
    }

    .callout-grid .action-card:first-child {
        grid-column: 1;
    }
}